<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>
  
    <h2>Register Now!</h2>
  
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
      
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
  
      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required><br>
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required><br>
      <input type="confirmPassword" placeholder="ConfirmPassword" (ngModel)="pass" name="password" class="txt" required><br>
      
      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button> 
      <!-- <a routerLink="/registration" routerLinkActive="active" class="alc"> <strong>Create my account</strong></a> -->
    </form>
  </div>
  
