<section class="login-container">
    <h1> Welcome to Graduate Connect </h1><br>
</section>
    <!-- <form autocomplete="off" novalidate [formGroup]="form" (submit)="login()">
      <input type="email" name="user" placeholder="Email address" formControlName="email">
      <input type="password" name="pass" placeholder="Password" formControlName="password">
      <input type="submit" name="login" class="login loginmodal-submit" value="Login">
    </form> -->
    <!-- <div class="login-help">
      <button (click)="loginWithGoogle()">Login with Google</button><br>
    </div>
    <div class="login-help">
        <button (click)="loginFb()"> Login with Facebook</button>
      </div>
  </section> -->
  <!-- <img src="assets/images/lock.svg" id="lock">
      <span class="error" *ngIf="error">{{ error }}</span>
      <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
      <button (click)="loginGoogle()" id="google">Login With Google</button>
      <button routerLink="/login-email" id="email">Email</button>
     <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a> -->